.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.header {

}

.footer {

}

.menu {

    .item {
        border: 2px solid #C5D667;
        padding: 2px 5px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        background-color: #4F81BC;

        a {
            color: #FFF;
            text-decoration: none;
        }
    }
}

h1 {
    border-bottom: 1px solid #888;
}

.member {
    margin-bottom: 20px;
}
